[2019-11-17 20:57] marcosdeseul commented on #253
Same issue here

[2019-11-20 13:27] klingenm commented on #305
Hi! I'm having the same issue.

Seems there code that generates the output only goes so deep, probably standard toString or something.

There might be differences hiding for you underneath the token or cancel keys.

[2019-11-20 17:11] jameshoward commented on #151
I solved this a different way, when I realised that the saga is calling a function to create the selector so it should be a `call` effect.

[code]

Then in your test you can just provide whatever you want for the selector, such as Jest mock or an empty function:

[code]

[2019-11-26 18:12] ivan-aksamentov opened #327 "Consider removing polyfills, specifically, the one for Map from core-js"
I believe that libraries should not impose polyfils on their downstreams. Anyways, It is rarely needed in node libraries, and especially in test environments. Instead, it is user's responsibility to insure that their runtime supports all the necessary features.

Consider removing this `Map` polyfill:

https://github.com/jfairbank/redux-saga-test-plan/blob/7f78a0742f94c67a221a9a1370b65f65e38b66b6/s

[2019-11-27 01:31] sneak commented on #311
sorry for the spam but @blordpluto could you please contact me privately by any media you wish? contact info on website linked in profile.

[2019-11-27 11:31] arosca commented on #257
Although not ideal, I got around the issue by using a proxy method for my `delay`:

[code]

which I can then mock:

[code]

[2019-11-28 12:18] mllustosa commented on #276
@AntwanSherif I think he meant something like:

[code]

[2019-11-28 13:08] AntwanSherif commented on #276
@mllustosa Thanks a lot. It works like a charm <3

[2019-12-02 08:46] samueledirito commented on #291
Any update on this? Thank you!

[2019-12-06 14:41] samueldclarke opened #329 "jest hasAssertions() does not acknowledge expectSaga as an assertion"
Hey,

There is a global beforeEach in our repository which checks each test has at least one assertion.

`
global.beforeEach(() => {
  expect.hasAssertions();
});
`

However jest doesn't seem to acknowledge expectSaga as an assertion and throws

`Expected at least one assertion to be called but received none.`

I've tried this with both the example test and my own test.

`import { call, put, take

[2019-12-09 07:21] greenkeeper[bot] opened #330 "An in-range update of eslint-plugin-import is breaking the build 🚨"
## The devDependency [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) was updated from `2.18.2` to `2.19.0`.

🚨 [View failing branch](https://github.com/jfairbank/redux-saga-test-plan/compare/master...jfairbank:greenkeeper%2Feslint-plugin-import-2.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-12-09 17:33] kevinsmithwebdev commented on #293
Yeah, I was running into the same problem. You write a great rstp integration test and then someone comes and adds a _call_ or a _put_ to the saga and the test doesn't break. It would be nice if you could specify something like `.run({ strictMode: true })` and it would require all expectations to be me and all effects to be expected. So, if there is a _put_ that is not in the expectations chain, i

[2019-12-16 09:32] diegofelipece opened #332 "Error on expectSaga.provide selector (state is undefined)"
Hey there! I'm implementing `redux-saga-test-plan` on an existent project, and I'm having some troubles to use `expectSaga.provide` with a specific kind of selector, and I do believe that this has been caused by some bug on the `provide` at the moment of recognizing and mocking my selector.

I have something like that:

[code]

So, with this scenario I'm always getting an error like that:

[code]

[2019-12-17 13:59] bdurrer opened #333 "Saga exceeded async timeout not helpful"
The message `Saga exceeded async timeout of 250ms` indicates that there is an issue with a test. _Somewhere_, in the code base.

It should tell us what `expectSaga` triggered it or somehow give us the chance to find/debug it.

[2020-01-07 11:33] pierroberto opened #334 "deprecated core-js"
Hi Team,

Do you have any plan to upgrade core-js in the next release?
I get this warning:

Thanks

[2020-01-07 16:37] movestill commented on #332
We're seeing similar behavior with a selector with no arguments. We're using `4.0.0-beta.3`.

[2020-01-10 15:00] MarcNq opened #335 "withReducer doesn't dispatch actions to the reducer"
Hi guys,

When testing the integration between a saga and a reducer, sometimes one needs to dispatch actions that affect the reducer in order to change the state in intermediate steps, but which the saga must completely ignore.

Such actions are being lost unless the saga takes them or puts them:

[code]

Outputs exception saying final state is `undefined`, when it should be `1`.

Thank you for yo

[2020-01-15 10:28] diegofelipece commented on #332
I've "worked around" this question by changing those selectors to pass the argument as a second parameter of the function, like it's suggested on [redux-saga docs](https://redux-saga.js.org/docs/api/#selectselector-args).

[code]
This way I can pass a second parameter to `select`, specifying the `id`, `name` or whatever. To clarify, I udated the same first example:

[code]

[2020-01-17 14:26] movestill commented on #332
For us, we're using a selector function that takes state as its only argument. `provide()` fails for us for this use case and I'd expect this would be the most common use case.

[2020-01-17 15:49] valentinacala commented on #207
@danielrea did you found an explanation or any workaround for this issue?
I'm getting a similar error when using `.reduce` method

[2020-01-21 09:23] MyPrototypeWhat opened #336 "takeEvery demo error"
[this page](http://redux-saga-test-plan.jeremyfairbank.com/integration-testing/forked-sagas.html)
I try to run this demo ,but
[code]

[2020-01-31 14:19] gothraven opened #337 "Enhance put.like() assertions"
The other day i was trying to test a saga which looks like this

[code]

[code]

and this of cours breaks because of the fact that `updated: new Date().getTime()` never gets the right value, and i would like to replace it with ANY a value that it doesn't need to check, this concept exists in python, if you are familiar with it.

the test code will be something like this

[code]

[2020-01-31 14:30] gothraven commented on #337
I actually found a faster solution by using put.like and removing the updated from the object body

[code]

[2020-02-01 12:21] ssengalanto opened #338 "pur expectation unmet (undefined)"
SagaTestError:
    put expectation unmet:

    Expected
    --------
    { '@@redux-saga/IO': true,
      combinator: false,
      type: 'PUT',
      payload:
       { channel: undefined,
         action: { type: '@@auth/AUTH_SUCCESS', payload: { user: [Object] } } } }

    Actual:
    ------
    1. { '@@redux-saga/IO': true,
      combinator: false,
      type: 'PUT',
      payload:
       { chan

[2020-02-10 15:11] jxm262 opened #339 "Comparing expected vs actual only shows the diff a few levels deep?"
Very similar to this PR - https://github.com/jfairbank/redux-saga-test-plan/pull/314

It seeems that the diff between the expected and actual output only goes a few levels deep (arbitrarily set at 4 from that PR, not sure if it's been changed since).  This can make it difficult to see where the actual assertion is failing.

Simple contrived example.  Note the `data` property is an array of objects

[2020-02-19 22:30] brayanL opened #340 "Deprecated library?"
Hi, your library is really awesome, I used this before but I see many open issues without a solution, maybe you have plans to maintain this library? Please answer is important, thank you very much.

[2020-02-20 15:05] brayanL commented on #340
Please somebody can answer, I need to choose a testing library. Thanks a lot.

[2020-02-20 23:00] jp928 commented on #340
@brayanL Sry for the delay. As the maintainer of this library, I have to apologise for my neglect. This library has been inactive for a while. If you have to choose a testing library urgently I would suggest to chose something else because my focus is on something else recently (at least not in next few months).

[2020-02-20 23:13] jp928 commented on #338
@ssengalanto
Can you debug the test by console log error from the catch section?

[2020-02-21 13:49] rajjeet commented on #339
+1

[2020-02-24 04:52] kristian-puccio commented on #340
@jp928 would you be interested in some help maintaining this package?
I haven't found any other equivalent to redux-saga-test-plan so I think it's hugely useful.

[2020-03-14 11:12] carljohnesan opened #341 "Expect saga to cancel forked task?"
How do I write assertion for saga if it cancels forked task? I tried but it throws that there's no `cancel` method.

[code]

[2020-03-16 08:01] #341 closed

[2020-03-16 08:09] carljohnesan commented on #341
I've figured out that it's impossible to observe canceled task because of lack of direct control on `next` value of generator, when using `expectSaga`. Better solution that I've found is to use `race`, it works same for my purpose, less verbose, automatically cancels loser task, and it can be tested with `expectSaga`.

[code]

[2020-03-22 10:40] greenkeeper[bot] opened #342 "An in-range update of eslint-config-prettier is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier) was updated from `6.10.0` to `6.10.1`.

🚨 [View failing branch](https://github.com/jfairbank

[2020-03-24 11:29] justinline commented on #312
I'm also getting failures with tests that use `throwError()` providers after recently upgrading some project dependencies (`redux-saga-test-plan` not being one of them). Seems like the `catch` of the `try/catch` no longer gets hit... Will try and investigate further

[2020-04-03 08:28] Vanuan commented on #339
What worked for me is using standard `expect` matchers in the `run().then(results => ...)`
It looks like that returns pretty standard objects.

[2020-04-03 15:59] rolandas-valantinas commented on #95
I'm sure it shouldn't take 3 years to make one property configurable  :see_no_evil:

[2020-04-16 19:11] gummybuns opened #344 "RunResult is not exported"
Looking at the [type definitions](https://github.com/jfairbank/redux-saga-test-plan/blob/master/index.d.ts#L20), the `RunResult` is not an importable interface. I wondering if this was done for a specific reason or if the reason is no one asked for it yet!

I am using Jest and hoping to add custom expectations in typescript based on the return value of `expectSaga.run()`

[code]

I would be very h

[2020-04-17 13:16] Waltari10 commented on #290
I have the exact same situation. What should I do to test this? I don't quite understand why this issue was closed, as it seems to be left unanswered.

[2020-04-21 05:54] jonasarcangel commented on #338
I'm having this same issue.

[2020-04-23 09:03] MNF opened #345 "Error message when expected action not found in actual list."
We have a saga, that put 2 actions and we wanted to test, that one of the actions was put correctly. We’ve got an error:

put expectation unmet:
 
    Expected
    --------
    { channel: null,
      action:
       { type: 'STORE_UPDATED_AIRPORTS',
         payload:
          { updatedAirports:
             { newArrivalAirport: [Object] } } } }
 
    Actual:
    ------
    1. { channel: null,
    

[2020-04-24 15:16] vass-david commented on #217
I had same issue. I've had newest redux-saga v1.1.3 and redux-saga-test-plan v3.7.0. Upgrading redux-saga-test-plan to v4.0.0-rc.3 solved the issue.

[2020-04-24 18:27] n-ilyin opened #346 "join effect testing"
How can i test saga with join effect? Is it nessesary to make stub for task?

[code]

[2020-05-07 12:25] angie commented on #329
https://github.com/jest-community/eslint-plugin-jest/blob/master/docs/rules/expect-expect.md#assertfunctionnames you can configure the rule to accept `expectSaga` as an assertion.

[2020-05-11 14:35] cdwyer-cognito commented on #332
I think you need to look at your code here. You are accessing an 'apple' key from the fruits object not a string.
Your test does not reflect this.

[2020-05-12 18:20] gothraven opened #347 "Testing problem using expectSaga or testSaga"
# Introduction
I have been using `redux-saga-test-plan` for a while now, I wrote a bunch of tests using this library and it was a great help, I thank everyone who helped for that, but today we noticed some issue with our tests.

Here is an example:

[code]
Testing this saga can only be done using `expectSaga` since we need to provide the result of the call function so we can test various situation

[2020-05-14 18:58] molteninjabob commented on #345
I'm in the process of evaluating redux-saga-test-plan right now to see if it's something we want to adopt. In regards to your second point, you can add `.then( (result) => {});` to look at the results of all effects. Putting `console.log(result)`in the curly braces will give you something like this:

`{
      storeState: undefined,
      returnValue: undefined,
      effects: { call: [ [Object] ]

[2020-05-14 19:55] michael-freidgeim-webjet commented on #345
@molteninjabob , thanks, I will try

.then((result) => {
console.dir(result,  { depth: null});
})
as suggested at https://stackoverflow.com/questions/10729276/how-can-i-get-the-full-object-in-node-jss-console-log-rather-than-object/27534731#27534731
and play with different dir/inspect options.

[2020-05-18 12:30] Moejoe90 opened #348 "add withStore() a method that expects a store"
Are there any plans to add a new method `withStore` that expects a store instead of a reducer.

Then you can insert a custom store that could also include some `middleware` this is a good way to test how a saga for example could affect the whole store not only on the reducer level.

[2020-05-25 07:58] Waltari10 commented on #340
Imho. this is the best tool for testing redux-saga right now. I might be able to help as well

[2020-05-25 08:10] Waltari10 commented on #339
I went into the file
`/node_modules/redux-saga-test-plan/lib/expectSaga/expectations.js`

And replaced `{ depth: 3 }`, with `{ depth: 10 }` . Then I was able to run the tests and see difference down to 10 depth.

Obviously you don't want to directly modify node_modules like this, but this is probably the quickest hack to fix it.

depth 3 is compiled from the file:
`redux-saga-test-plan/src/shared/

[2020-05-26 12:32] Jimit09 commented on #292
Yeah. It doesn't seem to work. Even I am facing issue. Unable to mock using provider.

[2020-05-26 19:03] dcleao commented on #340
Someone needs to maintain this library, it is great!

[2020-05-26 19:11] dcleao commented on #340
Also found this related older issue: https://github.com/jfairbank/redux-saga-test-plan/issues/134, from when @jp928 came to help @jfairbank as a maintainer.

[2020-05-27 20:33] intelcoder opened #349 "Cannot find module '@redux-saga/is'"
Used v4.0.0-rc.3 version

 I just tried this part

[code]
and I am getting this error which throws same error when I use testSaga

Cannot find module '@redux-saga/is' from 'node_modules/redux-saga-test-plan/lib/expectSaga/index.js'

[2020-05-31 09:45] barnabasJ commented on #340
Same here

[2020-06-08 11:34] klinzo commented on #289
As a workaround it is also possible to use the `.like` property which does not fail if it is not the same identity, e.g. `expectSaga(foo, bar).call.like(baz, qux).run()`

[2020-06-10 06:39] corelema commented on #290
I agree, the answer is very specific to the use case presented, but there are some situations where dispatching multiple actions from one saga is definitely the right thing to do. Hence the need to be able to test it.

[2020-06-10 06:41] trm217 commented on #290
May I ask why this issue was closed?
I don't see this question answered at all.

[2020-06-11 00:41] insonifi commented on #168
I have issues with this approach, right now. I use `takeLeading`  helper effect to start whole new sub-root saga that switches on tens of other sagas as a kind of service for specific functionality of an app. this sub-root saga forks `takeEvery`-ies on it own. And this way I cannot really distinguish which pattern matcher to provide.

The question is are there any plans to support function as an a

[2020-06-15 21:33] jxm262 commented on #339
thanks @Vanuan , didn't even think to try that.  Seems to work for now, but I'll leave this ticket open since I still think it would be a good feature to have.  Also looks like some other folks are experiencing similar issues :)

Happy to make a PR for this @jfairbank , but it looks like you have a bunch of open PR's already.  So, just let us know if you want help with any of this

[2020-06-17 01:20] ryanliszewski commented on #340
I'd be interested in contributing to this library as well @jp928 There's no better saga testing library out there and I'm in desperate need to test my sagas _well_.

[2020-06-17 01:43] jp928 commented on #340
@ryanliszewski
Hi, I am very glad to heard someone can help. Let me know what you want to access? such as npm publish privilege. and PRs are more than welcomed.

[2020-06-17 01:47] kristian-puccio commented on #340
@jp928 I'm keen too.
I can start with PR's if that's best

[2020-06-18 07:21] mdenysov commented on #289
Can you please give a more detailed example of using `.like` with expectSaga?

[2020-06-18 11:07] klinzo commented on #289
Sure, see the docs here: https://github.com/jfairbank/redux-saga-test-plan/blob/7f78a0742f94c67a221a9a1370b65f65e38b66b6/docs/integration-testing/partial-matching.md

[2020-06-18 22:44] ryanliszewski commented on #340
Thanks! @jp928 Let me start with some PRs and diving deep into the repo.

[2020-06-20 08:47] barnabasJ commented on #340
I will also start by working through a couple of the issues and creating some PRs.

[2020-06-22 09:00] elfanos commented on #147
I managed to get it working for my use case, using this approach.
[code]

[2020-07-03 00:49] dokurocker opened #351 "expectSaga doesn't work for Generator function in class"
Test class has generator method "gen".
[code]
gen executes expectSaga
[code]
error occurred
[code]
Is there any way to set this.foo ?

[2020-07-03 09:54] dokurocker commented on #351
self-solving
[code]
[code]

I want to know a better way...
Thanks!

[2020-07-03 09:54] #351 closed

[2020-07-16 16:59] StevenWonder opened #352 "How to test race with while true?"
I created a saga very similar to the one found in the redux-saga docs https://redux-saga.js.org/docs/advanced/RacingEffects.html

[code]

I'm trying to test this saga, but it's stuck in an infinite loop. Here's my test

[code]

I expect the race to end with the action CANCEL_TASK, but this test just hangs.

If I remove `while true` around the `backgroundTask` then it works, but that's not what I w

[2020-07-19 22:39] cyruskong1 commented on #147
you can also use this
` jest.spyOn(global.console, 'error').mockImplementation(jest.fn())` like this
`it('should do something', () => {
 jest.spyOn(global.console, 'error').mockImplementation(jest.fn())
// your test here
})`
mockImplementation will kind of hijack the thrown error and run it the way you want, i.e. do nothing while testing

[2020-07-20 18:35] leo-diehl commented on #345
I have the same problem here, my exposed "effects" object is being returned as empty, even with the "allEffects" being populated

[code]

Here is the code of the saga being implemented
[code]

The code of the test-suit that exhibited the error:
[code]

[2020-07-20 23:01] davinctor commented on #271
@0xdevalias Did you solve this problem?

[2020-07-20 23:03] 0xdevalias commented on #271
I didn't at the time, and have since moved on from the project where I was seeing this, so don't have access to the code to test.

From memory I worked around it by not using the normal checks at all, but instead manually checking the array of events at the very end (or something like that)

[2020-07-20 23:05] davinctor commented on #271
@0xdevalias thank you for response!

[2020-08-07 11:01] timB73 opened #353 "Cannot read property 'toPromise' of undefined"
I am using redux-saga version 1.1.3 and version 4.0.0-rc.3 of redux-saga-test-plan. Are these not compatible with each other?
I ran the example test and I get the following error: "TypeError: Cannot read property 'toPromise' of undefined" which happens at the run() method.

at taskPromise (node_modules/redux-saga-test-plan/lib/expectSaga/index.js:590:17)
      at start (node_modules/redux-saga-tes

[2020-08-07 14:20] timB73 commented on #353
I seem to get the same error with version 1.1.1 of redux-saga and 4.0.0-rc.2 of redux-saga-test-plan

[2020-08-07 21:54] jp928 commented on #353
@timB73 do you have sample to reproduce this?

[2020-08-07 23:17] timB73 commented on #353
Actually it looks like it might not be to do with redux-saga-test-plan as I got the same error trying to create my own helper function based on redux-saga docs... very confused 🤔

`import { runSaga } from 'redux-saga';

export async function recordSaga(saga, initialAction, initialState) {
  const dispatched = [];

  await runSaga(
    {
      dispatch: action => dispatched.push(action),
      getS

[2020-08-13 11:24] fostyfost commented on #316
Hello, the library now supports retry-helper. PR https://github.com/jfairbank/redux-saga-test-plan/pull/354

[2020-08-13 11:26] fostyfost commented on #316
@jfairbank close this issue?

[2020-08-20 16:55] ilya-zinkevych commented on #305
I've encountered same issue. After injecting cancel token inside axios request. Have you found workaround since? I simply switched to `expectSaga` but it gives me pass for any code...

[2020-08-21 12:41] lolero opened #355 "take assertion with redux-saga-test-plan that takes a function as pattern gives 'take effects do not match' error"
I want to test a saga that yields a `take` effect which takes a function as pattern, e.g.

[code]

with a test that looks like:
[code]

but I get the following error:
[code]

I have not been able to find how to assert the a take effect that takes a function pattern instead of a string.  Can someone please help me?

[2020-08-24 19:01] jean182 commented on #305
Tbh I build a not so great service that already handled the cancelation token, so the request was pretty straight forward to test, maybe you can try testing the saga by yourself without the library and see if you notice any differences between the results.

[2020-08-24 21:40] birdwell opened #356 "Yielding a call that has an await inside of the function"
It gets stuck on the `Client.history(channel)` and doesn't continue in the generator function to the final line.

Saga
[code]
Test
[code]

[2020-08-24 23:25] bbil commented on #252
@jp928 I've created a Pull Request that adds the necessary variant to the `index.d.ts`

[2020-08-25 01:21] #252 closed

[2020-08-25 03:56] bbil commented on #252
Thanks for the merge!

[2020-08-25 06:16] ilya-zinkevych commented on #305
@jean182 I did. The results differ only when I test with cancel token)

[2020-09-01 21:03] brendt-napp opened #359 "Support for yield cancel"
Hello, I'd really like it if we could test something like the following
[code]

currently the only work around would be to make a separate saga for cancellation and calling that
[code]
But this is less desirable because I'd need to create an unnecessary wrapper in my code just for testing.

[2020-09-02 10:41] StarryFire opened #360 "How to run some code after a certain dispatch while saga is still running"
[code]

Now what i want my test to be like is
[code]

Is there anyway to achieve this?

[2020-09-18 11:07] WillyRamirez commented on #292
I am able to mock API calls like this:

`[matchers.call.fn(api.getReservation), responses.successful(getReservationResponses.RESPONSES.DEFAULT)]`

[2020-10-15 17:15] denchen opened #362 "How to test custom effect with testSaga()"
I have a custom effect called `takeLeadingPerKey()` which is based off of `takeLeading()` but allows multiple sagas to run as long as they have a unique key.

I'm not sure how to use it with `testSaga()`

Example code:

[code]

Example test:

[code]

With the above, I get:

[code]

Obviously it's complaining that `takeLeadingPerKey()` doesn't exist with `testSaga()`, so is there another way to tes

[2020-10-18 09:44] nam288 opened #364 "Error when using with Mocha"
I can not even run a sample from [docs](http://redux-saga-test-plan.jeremyfairbank.com/integration-testing/effect-creators.html)

[code]

Command: `mocha --timeout 60000 --ui bdd --sort "./lib/**/test/**/*.test.js"`

**mocha**: 7.1.2
**redux-saga-test-plan**: 4.0.0
**node**: 10.16.0

**Expected**: Pass the test
**Actual**: Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done(

[2020-10-18 12:20] jp928 commented on #364
@nam288
I forgot to remove package-lock.json. Is there any chance to try with yarn?

[2020-10-26 17:34] HridayK97 opened #365 "TypeError: takeLatestEffect is not a function"
My Test:
`
import {testSaga} from 'redux-saga-test-plan';
import { subscribeSaga } from './sagas'

function* watchSelectSaga() {
  yield takeLatest('SET', subscribeSaga);
}

it('test saga', () => {
  testSaga(watchSelectSaga)
    .next()
    .takeLatestEffect('SET', subscribeSaga)
    .finish()
    .isDone();
});
`

I get a "TypeError: (0 , _reduxSagaTestPlan.testSaga)(...).next(...).takeLatestEff

[2020-10-30 14:08] nam288 commented on #364
Sorry for my late reply. The problem is about Intellij IDE with an async test suite.

[2020-10-30 14:08] #364 closed

[2020-11-01 12:18] solalgaillard commented on #290
Testing multiple put causes absolutely no problems. Aren't you sure your issues are not linked to your expected output and your actual output actually diffing? If you look at the assertions above from @Yoshihide-Nishimoto, he asserts Action.success() first when Action.startLoading() is actually the first action dispatched. He would need to assert them in order to test the saga properly.

[2020-11-06 13:35] fostyfost commented on #348
any news here?

[2020-11-12 13:22] zainab-amir commented on #320
@jp928 would really appreciate if this can be resolved. It is still causing issue and makes the test result really noisy

[2020-11-25 20:12] codershona commented on #109
Hello, Can I work on this issue?

[2020-12-02 21:18] jakobdamjensen commented on #353
I am experiencing the same problem here with code very similar to yours @timB73 . Did you find a solution?

[2020-12-02 22:46] timB73 commented on #353
Unfortunately I didn't :(

[2020-12-15 13:03] mathewpan commented on #347
I'm incredibly late on this, but in case anyone else sees this and needs the answer, you can test the effects with the following:
[code]
Brackets probably don't match up, but its the 'then' block that matters

[2020-12-18 15:08] t1gor commented on #137
I somehow do not have `effects` in `RunResult`, but we're using `RunResult.allEffects` in the same way. Would be cool if the lib provided an effect like `.not`

[2020-12-22 08:38] pbylina commented on #333
Any news here? This message is very hard to debug.

[2020-12-24 04:49] CrushyChilli commented on #365
I encountered the same problem too...
Here is what result I get inside next(...)
[code]

It is how I create a saga
[code]

[2020-12-28 19:55] aprisniak commented on #292
I am facing issue. Unable to mock using provider.

[2020-12-29 10:27] morzel85 commented on #333
For those who are worried about the warnings: https://github.com/jfairbank/redux-saga-test-plan/blob/master/docs/integration-testing/timeout.md#silencing-warnings (most likely your code is just fine)

[2020-12-31 12:43] bdurrer commented on #333
@morzel85 In our case the warning was almost always right, these often were test errors. But you have to count the warnings and compare to how many you expect to appear, because you don't know what and where it was caused

[2021-03-08 14:38] hackingbeauty commented on #290
I'm trying to do the same thing...test multiple action dispatches in one saga.
Why can't this be tested?

[2021-03-15 08:18] eliaslecomte commented on #185
I had the same exception when I was incorrectly importing my saga.

[2021-03-15 22:08] jp928 commented on #95
https://github.com/jfairbank/redux-saga-test-plan/pull/366 should solve this issue. Many thanks to @AdeonMaster

[2021-03-15 22:09] #95 closed

[2021-03-15 22:10] jp928 commented on #339
This issue should be solved by @AdeonMaster

[2021-03-15 22:10] #339 closed

[2021-03-16 11:22] AdeonMaster commented on #365
@HridayK97 @CrushyChilli  I think you should use `takeLatest` instead of `takeLatestEffect`

[2021-05-14 16:46] edolix commented on #293
This issue is pretty old but maybe my workaround using [provide](https://redux-saga-test-plan.jeremyfairbank.com/integration-testing/mocking/static-providers.html) will help others.

Collect all the actions within `dispatchedActions` array and then `expect` on it.

[code]

[2021-05-21 08:16] AshifMohammad commented on #177
const mockState = { rick:"Genius", Morty:"dumbAsss"}

expectSaga(yourCoolSaga)
      .provide({
        select({ selector }, next) {
          if (selector) {
            return mockState;
          }
          return next();
        }
      })
    // some assertion here
      .put(actions.updateRickMortyPowers(mockState))
      .silentRun();

[2021-05-25 08:18] Eljoy opened #367 "TypeError: Cannot read property 'TAKE' of undefined"
[code]

"redux-saga": "^1.1.3"
"redux-saga-test-plan": "^4.0.1"

[code]

[code]

[code]

[2021-06-02 14:26] SveLil commented on #290
The order doesn't matter, as soon as multiple actions are dispatched, testing fails.
@jp928 Why did you close this ticket?

[2021-06-08 11:20] cologneto opened #368 "Testing if statement"
I want to test the following saga:

[code]

I'm trying this:

[code]

Is there a way to get in the if statement?

Thanks,
Georgi

[2021-06-11 04:09] #173 closed

[2021-07-04 13:29] IgorGoloborodko1 commented on #367
Same issue. Redux-saga 0.15, redux-saga-test-plan 4.0.1. Did anyone figure this one out?

[2021-07-13 19:33] luxx commented on #349
redux-saga-test-plan has a peer dependency of `@redux-saga/is`, which you can provide in your package:

```yarn add @redux-saga/is --dev```

[2021-07-17 01:58] kuk941025 commented on #368
You can mock `call(rest.getCustomerById, id)`.
Heres the test code I would write. (Not tested).

[code]

In the test, reset.getcustomerById would return true.
Read more about static providers on [document](http://redux-saga-test-plan.jeremyfairbank.com/integration-testing/mocking/static-providers.html)

[2021-07-26 05:21] alexlouden commented on #291
I just discovered that it's possible to expand the depth of nesting, to see the expanded `args: [Object]`s. See this commit: https://github.com/jfairbank/redux-saga-test-plan/commit/ac14172c13150673b64f4685786b5b7a56f0eb7d

[2021-07-29 21:58] emmlopez commented on #185
thank you @eliaslecomte , I had same error message , but then I checked if I was importing my saga, and I forgot to export it
before
 function* testsaga()
after
export function* testSaga()

[2021-08-12 07:11] gaurav341 opened #371 "getting TypeError: (0 , _reduxSaga.stdChannel) is not a function on simple example"
Logs are

TypeError: (0 , _reduxSaga.stdChannel) is not a function

    at expectSaga (/Users/gaurav.singh/Documents/projects/my-project/node_modules/redux-saga-test-plan/lib/expectSaga/index.js:123:47)
    at Object.<anonymous> (/Users/gaurav.singh/Documents/projects/my-project/src/redux/common/init/test/init.reducer.test.js:16:16)
    at Object.asyncJestTest (/Users/gaurav.singh/Documents/projec

[2021-08-15 09:19] vadympetryshyn commented on #367
The same

[2021-08-27 13:35] vandiepbui opened #372 "How to call a call back function in action's payload"
Hi,

I have a callback function in payload. Please tell me how to call that callback function when testSaga.

My saga.js
export const sumTwoNumbers = function* ({ payload: { a, b, onSuccess } }) {
  try {
   let sum =  a + b;
   yield put(sumTwoNumbersSuccess());
   yield call(onSuccess(sum));
  } catch(e) {
   console.log(e)
 }
};

My saga.test.js

describe('sum two numbers', () => {
  const acti

[2021-09-04 21:39] SiarhKul commented on #338
did you resolve this problem? I`m having the same.

[2021-09-09 08:11] tetslee opened #373 "Is early return for a passing expectSaga possible?"
When using `expectSaga` is there a way to return early if all expectations have been met without waiting for the timeout?
Maybe it would be nice if there was a `dontWait` option or something to improve performance of passing tests. Is it just not implemented or would adding something like that be a bad idea?

[2021-09-13 13:07] LeoRedin opened #374 "Tests are being cancelled"
Howdy everyone! I may be doing things the wrong way but I wanted to ask anyway in case anyone else got the same problem.

Heres my test:

[code]

and here is the saga:

[code]

I wanted to know how should I properly call the matchers to actually meet what my api is doing. I think I am not providing it the correct way. I wanted to have those last 2 params inside the call to be nested params. Any id

[2021-09-14 13:30] LeoRedin commented on #374
In case anyone wants to know the answer you cannot have anonymous functions on your calls. That was the error.

[2021-09-14 13:30] #374 closed

[2021-10-10 02:12] anwarhamr opened #375 "Help with making test not timeout when using .then after .run"
I have this test
[code]
I get this error message from every test structured as above.
    [WARNING]: Saga exceeded async timeout of 500ms
500 because I used
`expectSaga.DEFAULT_TIMEOUT = 500;`
no matter what value I put in the default timeout I get that warning.
I know I can use silent but that seems wrong since I want the warning if it's real.

I have tried to use the done() method for the jest t

[2021-10-13 02:43] anwarhamr opened #376 "redux state and put action seem to be retained between tests"
I have the below two tests

[code]

 when I use .only and run them individually they both pass however when I run them both I get the message
[code]

Additionally, I have some other tests that don't seem to be getting the state reset for each run either.  Am I missing something?

[2021-11-02 21:47] #278 closed

[2021-11-03 15:35] seanhuang514 commented on #147
This is my solution
[code]

[2021-11-11 15:13] Yupeng-li commented on #147
The fix made in this pull request is no longer valid with `redux-saga` 1.1.3. https://github.com/jfairbank/redux-saga-test-plan/pull/211/commits/d10dab5fae53d58e12e9025b2f99c075484b0da6
`   logger: () => {},`

According to this doc https://redux-saga.js.org/docs/api/#runsagaoptions-saga-args, logger is not supported anymore. A simple solution could be by setting `onError` to `()=>{}`

[2021-11-25 19:33] jensenbox commented on #334
Is there any chance this can happen? I am using a package that is using this and is throwing a pretty scary warning.

[code]

[2021-11-26 16:15] bodazhao commented on #305
Just spend some hours debugging this as well, it was our fault (a deeply nested `undefined` value) but if the error logs were expanded it would've been more obvious straightaway

Current log:

[code]

If log expands the nested object like so, it would've be easier to spot the error

[code]

[2021-12-02 10:30] Yupeng-li opened #378 "Unexpected typescript type error with expectSaga"
Not all the generator functions pass the type check when using `expectSaga`. Sometimes unexpected type error is raised if the yields in the function are mixed by saga effects and normal generator functions.

[code]

Sample code (line 15):  https://codesandbox.io/s/cranky-resonance-47uuz?file=/src/demo.test.ts
Typescript version: 4.5

[code]

The issue is in SagaType. `IterableIterator<any>` extend

[2021-12-13 21:05] paulcoyle commented on #334
Any movement on this?  There's a [ greenkeeper PR for this](https://github.com/jfairbank/redux-saga-test-plan/pull/261) that has been continually updating since March 19 of _2019_.  Off all the outdated dependencies, this is the one that has real downstream effects on consumers of this library.

[2022-01-05 12:24] balazserdeszlogmein commented on #97
Did this get fixed?

In current state, this library is unable to test any saga that contains a `yield join` line.

Also, in an `expectSaga()`, `join()` calls cannot be asserted at all, since this is the typescript definition:
[code]

[2022-01-28 18:04] rickyrombo commented on #257
Digging this up to provide a new solution we found:

[code]

This takes advantage of `redux-saga` calling `call` on `delayP` under the hood here:
https://github.com/redux-saga/redux-saga/blob/d05370f12f49f29fea78767fdf5b7ba3621b60f7/packages/core/src/internal/io.js#L281

[2022-02-03 12:42] Domiii opened #379 "`like` matchers not documented"
* [ ] Many matchers allow partial matching, but that is not at all documented.

They are [here](https://github.com/jfairbank/redux-saga-test-plan/blob/master/src/expectSaga/matchers/index.js).

Example:

[code]

[2022-02-12 03:19] laffed commented on #365
Breaking changes as of 4.0.0.
`takeLatestEffect` and others have been renamed.

https://github.com/jfairbank/redux-saga-test-plan/blob/master/CHANGELOG.md#testsaga---breaking-changes

[2022-02-17 14:08] rkaartikeyan opened #381 "Refactor this redundant 'await' on a non-promise.sonarlint(typescript:S4123)"
Hi everyone,

thanks for this great library. In my project I am getting bellow error on `await expectSaga`

`Refactor this redundant 'await' on a non-promise.sonarlint(typescript:S4123)`

`saga.test.ts`
[code]

`sage.ts`
[code]

if I remove the async and await then `put()` is not covered in `fetch()...`

Please let me know what did I missed here?

[2022-03-01 19:38] alisa-medvedeva commented on #139
When I was testing sagas with effect "fork", I have errors like:
1) 'Cannot read property 'next' of undefined'
2) 'Cannot read property 'apply' of undefined'

And I guess that all this errors exist, because 'redux-saga-test-plan' call function in effect 'fork' incorrectly.
I decide this problem with

`    await expectSaga(myExampleSaga)
            .provide({
                fork: (effect,) => eff

[2022-03-01 19:56] alisa-medvedeva commented on #186
When I was testing sagas with effect "fork", I have errors like:
1) 'Cannot read property 'next' of undefined'
2) 'Cannot read property 'apply' of undefined'

And I guess that all this errors exist, because 'redux-saga-test-plan' calls function in effect 'fork' incorrectly.
I solved this problem with

`    await expectSaga(myExampleSaga)
            .provide({
                fork: effect => effec

[2022-03-01 22:09] alisa-medvedeva commented on #186
Addition:
if called function in effect 'fork' has one argument
`await expectSaga(myExampleSaga) .provide({ fork: effect => effect.fn(effect.args[0]), }) .run();`

if called function in effect 'fork' has two arguments
`await expectSaga(myExampleSaga) .provide({ fork: effect => effect.fn(effect.args[0], effect.args[1]), }) .run();`

etc

[2022-03-07 19:58] dimitriskot opened #382 "How to test self cancellation?"
Hi, everyone!

I have a saga with infinity loop, where it takes an action and depending on action's payload yield self cancellation.
How this case may be tested correctly?

[code]

[2022-03-10 17:50] mwarrier commented on #332
Same issue here, selectors with parameters don't seem to be mocked

[2022-03-15 14:31] miestr opened #383 "select effect does not allow args"
Redux saga is capable of handling selectors that take additional arguments, f.e.
`mySelectorFn: (state, itemId) => state.content.map[itemId]`

Whereas testSaga.select notation only accepts selector of type
`((state) => any, args)`

meaning that I can not write a mock efffect like
`testSaga.select(mySelectorFn, 5).next(somePieceOfState)`

Is there a way to pass this additional parameter into the ef

[2022-04-05 14:18] sbitproz opened #384 "How to use getContext in testSaga unit test"
# Context

In the application we adopted Sagas to manage our side effects.  We've tried to use this excellent library to improve our test readability of our tests and that the ordering of the yields are correct.

Our application provides our apis through the application using the Context API.  This is where we've hit a slight speed bump in the test with `getContext`.

In our Sagas we're accessing

[2022-04-07 02:06] jp928 commented on #384
@sbitproz Thanks for using this library.
Unfortunately, testSaga doesn't support mock getContext, but feel free to try use `jest.mock()` instead.
The way to test getContext is using expectSaga, see this PR: https://github.com/jfairbank/redux-saga-test-plan/pull/179/files

Also, feel free to propose your opinion to improve this.

[2022-04-07 16:01] sbitproz commented on #384
Hi @jp928

Thanks for the efficient reply.  Is it worth adding a detail about this on the documentation?

[2022-04-11 14:57] ehahn9 opened #385 "Is expectSaga() broken? Odd behavior"
I'm sure it is a newbie mistake, but I am surprised that the `expectSaga()` test below times out. -- advice appreciated!

[code]

* redux-saga-test-plan@4.0.4
* redux-saga@1.1.3
* react 17
* jest@27.5.1
* typescript@4.6.3

[2022-04-13 06:53] uwinkler commented on #347
Hi, i had the same problem. All I had to do is to insert an `return`

[code]

[2022-04-13 09:28] gothraven commented on #347
@uwinkler Can you please explain how that helps ?

[2022-04-26 17:51] croraf commented on #166
I experience similar issue. But in my case the console.log doesn't get shown even in the successful test.

[2022-04-28 15:50] vandriesh opened #386 "Question: hasFinalState + immutable.js = ❤️ ?"
Question: any plans to expect adjust hasFinalState to consider immutable.js based state
or give a possibility to transform state
e.g.

[code]

[2022-06-02 18:43] TheSethness commented on #305
@bodazhao how did you expand the log here?

[2022-06-10 16:04] ggbell commented on #371
This TypeError is thrown if you have an existing mock of redux-saga, e.g.

`jest.mock('redux-saga', () => ...);`

Try removing this and the error should disappear.

[2022-06-23 01:08] #334 closed

[2022-07-04 10:44] nicholaschedid commented on #385
@ehahn9 I'm having the same issue. Did you found a solution?

[2022-07-09 19:27] ehahn9 commented on #385
@nicholaschedid no, never did but we ended up dropping react-saga from the project so I didn't continue to investigate.

[2022-07-09 19:27] #385 closed

[2022-07-29 05:26] anwarhamr commented on #257
where are you importing `delayP` from?  I'm getting an error if I try to get it form redux-saga.  Can you please add more complete example?

[2022-07-29 16:45] rickyrombo commented on #257
Yeah for sure!

`import delayP from '@redux-saga/delay-p'`

Here's one of our test files:

https://github.com/AudiusProject/audius-client/blob/4114a2d8bfae8c31841acde32b1d1882b81806c1/packages/web/src/pages/audio-rewards-page/store/store.test.ts#L314

[2022-08-18 13:43] israelidanny opened #389 "Can expectSaga be run in such a way that ANY unexpected yield would result in a failed test?"
From what I see currently, `expectSaga()` only fails a test if an effect was expected, but that effect was run with the wrong arguments.

For example, this will pass:
[code]

This will also pass:
[code]

Even this will pass:
[code]

Only this will fail:
[code]

This is highly problematic behaviour for me because it leaves a lot of room for random and unexpected effects to be yielded without the te

[2022-08-23 10:06] brumik commented on #334
Any idea when is this gonna be released? (Or at least which type of release this will be (fix|feature|breaking change)?

[2022-08-24 20:47] israelidanny commented on #389
P.S I am aware that `testSaga` is made for unit tests, but I have to test channels, which aren't really supported by testSaga. It'd still be nice to be able to test order of things.

[2022-08-26 18:40] tatemz commented on #389
+1 to this feature. I find myself prefixing a lot of conditional behavior with `.not`

[2022-09-04 06:40] jp928 commented on #334
@brumik I think core-js has been removed from latest 4.0.5.

[2022-09-05 07:51] brumik commented on #334
@jp928 When pulling 4.0.5 I am still getting these deps in node_modules/redux-saga-test-plan/package.json

[code]

[2022-09-05 09:26] jp928 commented on #334
@brumik thanks for getting back. I will fix this soon.

[2022-09-20 15:50] laurencefass opened #390 "Whats the highest version of redux-saga I can test with this package?"
Does any version of redux-saga-test-plan support testing of redux-saga/core 1.2.1.

[The documentation](http://redux-saga-test-plan.jeremyfairbank.com/getting-started.html) advises that he current version of Redux Saga Test Plan v3 only supports v0.15 of Redux Saga.

I can see from the tags that there is a version 4. Is this compatible with later versions of redux-saga?

[2022-11-04 19:24] AaronV commented on #332
I was able to test a curried selector-function by using `matchers` instead of `select` directly. I guess in your example it would be like this..

[code]